<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script>
    function outputUpdate(age) {
        document.querySelector('#selected-rating').value = age;
    }
    </script>


<p><strong>User Input:</strong> </p>
<p> {{user_input}} </p>
<p><strong>ChatGPT:</strong> </p>
{% for sentence, links in chatgpt_reply %}
    {{ sentence }}
    <!-- <p class="article-content">{{ links }}</p> -->
    {% for link in links %}
        <sup class="reference"><a href="{{link[1]}}" data-placement="top" data-toggle="tooltip" title="{{link[1]}}"  >
            &#91;{{link[0]}}&#93;        
        </a></sup>
          
    {% endfor %}
{% endfor %}
<!-- {% for links in links_list %}
    {% for link in links %}
        <p class="article-content"> &#91;{{ link[0] }}&#93; {{link[1]}}</p>
    {% endfor %}
{% endfor %} -->
<br>
<form class="gLFyf gsfi" jsaction="paste:puy29d;" maxlength="2048" name="q" type="text" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" role="combobox" spellcheck="false" title="" value="" aria-label="" action="/ask" method="post">
    <div class="form-group" autocomplete="off">
        {{ form.rating.label }} <br>
        {{ form.rating(min='0', max='10', value='5', oninput="outputUpdate(value)") }}
         <output for="rating" id="selected-rating">{{ form.rating.data }}</output><br>
        {{ form.submit(class="btn btn-info") }}
    </div>
</form>


</html>
{% endblock content %}