
{% extends 'layout.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2><strong>Informed Consent</strong></h2>
                <p><u>About This Research</u></p>
                <p>
                    You are being asked to participate in a research study. Scientists do research to answer questions
                    and discover new information. Some research might help change or improve the way we do things in the
                    future. This consent information will tell you more about the study to help you decide whether
                    you want to participate. Please read this information before agreeing to be in the study.
                </p>
                <br>

                <p><u>Taking Part In This Study Is Voluntary</u></p>
                <p>
                    You may choose not to take part in the study or may choose to leave the study at any time. Deciding
                    not to participate, or deciding to leave the study will
                    not affect your relationship with the University of Notre Dame.

                    As an alternative to participating in the study, you may choose not to take part.

                    The study is being conducted by Tim Weninger at the University of Notre Dame
                    (email: <a href="mailto:tweninger@nd.edu">tweninger@nd.edu </a> phone: 574-631-6770)

                    This study is being funded by the DARPA under contracts HR001121C0168 and HR00112290106.

                </p>
                <br>

                <p><u>Why Is This Study Being Done?</u></p>
                <p>
                    This study asks how users trust the output of AI systems, like ChatGPT.
                </p>
                <br>

                <p><u>What Will Happen During The Study?</u></p>

                <p>
                    If you agree to be in the study, you will be asked to do the following things:

                    You will input a question, that question will be sent to ChatGPT and then you will be asked to rate how much you trust the response. The response may take a moment (sometimes 10-15 seconds depending on the question).

                </p>
                <br>

                <p><u>What Are The Risks Of Taking Part In The Study?</u></p>

                <p>
                    Although unlikely, some texts  may contain inappropriate and offensive language. We will simply pass back the response from ChatGPT.
                </p>
                <br>

                <p><u>How Long Will This Study Take?</u></p>

                <p>
                    This study will take about 10 - 15 minutes to complete.
                </p>
                <br>

                <p><u>How Will My Information Be Protected?</u></p>

                <p>
                    All questions will be sent to and likely stored by ChatGPT. Likewise responses and your ratings will be stored at Notre Dame. We will not collect any Personal Identifying Information (PII).

                    Organizations that may inspect and/or copy your research records for quality assurance and data
                    analysis include groups such as the study investigator and his/her research associates, the
                    University of Notre Dame Institutional Review Board or its designees, DOD for quality assurance
                    and data analysis, and (as allowed by law) state or federal agencies, especially the Office for
                    Human Research Protections (OHRP), who may need to access the research records.

                </p>
                <br>

                <p><u>Will I be Paid?</u></p>

                <p>
                    You will be paid 3.00 USD for completion of this task.
                    MTurk does not allow for prorated compensation. In the event of an incomplete HIT,
                    you will not receive any compensation.

                    This study contains a number of checks to make sure that participants are finishing the tasks
                    honestly and completely. As long as you read the instructions and complete the tasks, your HIT
                    will be approved. If you fail these checks, your HIT will be rejected and you will not
                    receive any compensation.

                </p>
                <br>

                <p><u>Who Should I Contact With Questions Or Problems?</u></p>

                <p>
                    For questions about the study, contact the researcher Tim Weninger (email: <a href="mailto:tweninger@nd.edu">tweninger@nd.edu</a>)

                    For questions about your rights as a research participant, to discuss problems, complaints, or concerns about a
                    research study, please contact Notre Dame Research Compliance at 574-631-1461 or at <a href="mailto:compliance@nd.edu">compliance@nd.edu</a>.
                </p>
                <br>

                <p><u>Participant's Consent</u></p>

                <p>
                    In consideration of all of the above, I give my consent to participate in this research study.
                    By proceeding, I confirm that I am 18 years old, and agree to take part in this study.
                </p>

                <br>
                <div>
                    <!-- <label style="font-size: xx-large"><input type="checkbox" onclick="update_consent()" id="agree" value="" {{ 'checked=checked' if session['Consent'] else '' }} > I agree to participate in this research.</label>      </div> -->






            </div>
        </div>
    </div>

<ul class="list-group">
    <a id="next" href="{{ url_for('ask') }}" class="list-group-item list-group-item-action text-right" style="font-size: large"> --> I agree to participate in this research <span class="fa fa-arrow-right"></span></a>
    <a id="prev" href="{{ url_for('instruction') }}" class="list-group-item list-group-item-action text-left" style="font-size: large"><span class="fa fa-arrow-left"></span> <-- Instruction</a>
</ul>
{% endblock %}
