
{% extends 'layout.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2><strong>Consent</strong></h2>
                <h3><u>About This Research</u></h3>
                <h4>
                    You are being asked to participate in a research study. Scientists do research to answer questions
                    and discover new information. Some research might help change or improve the way we do things in the
                    future. This consent information will tell you more about the study to help you decide whether
                    you want to participate. Please read this information before agreeing to be in the study.
                </h4>
                <br>

                <h3><u>Taking Part In This Study Is Voluntary</u></h3>
                <h4>
                    You may choose not to take part in the study or may choose to leave the study at any time. Deciding
                    not to participate, or deciding to leave the study later, will not result in any penalty and will
                    not affect your relationship with the University of Notre Dame.

                    As an alternative to participating in the study, you may choose not to take part.

                    The study is being conducted by Tim Weninger at the University of Notre Dame
                    (email: <a href="mailto:tweninge">tweninge@nd.edu </a> phone: 574-631-6770)

                    This study is being funded by the DOD under proposal w911NF-17-1-0448.

                </h4>
                <br>

                <h3><u>Why Is This Study Being Done?</u></h3>
                <h4>
                    This study aims to verify how different datasets are used for evaluation. Current evaluation of
                    machine learning models utilize ground truth datasets. We aim to see how people interpret the results
                    of various models and ground truth datasets.
                </h4>
                <br>

                <h3><u>What Will Happen During The Study?</u></h3>

                <h4>
                    If you agree to be in the study, you will be asked to do the following things:

                    We will be displaying a a short article taken from the news or other online sources.
                    You will verify that the highlighted text maps to the appropriate Wikipedia article.
                    Then, you will see if any other portions of the text should be highlighted and mapped to a Wikipedia
                    article.

                </h4>
                <br>

                <h3><u>What Are The Risks Of Taking Part In The Study?</u></h3>

                <h4>
                    While participating in the study, the potential risks include:
                    Some texts to be annotated may contain inappropriate and offensive language.
                </h4>
                <br>

                <h3><u>How Long Will This Study Take?</u></h3>

                <h4>
                    This study will take about 20 - 30 minutes to complete.
                </h4>
                <br>

                <h3><u>How Will My Information Be Protected?</u></h3>

                <h4>
                    Efforts will be made to keep your personal information confidential. We cannot guarantee absolute
                    confidentiality.  Your personal information may be disclosed if required by law. No information
                    which could identify you will be shared in publications about this study and databases in which
                    results may be stored.

                    Organizations that may inspect and/or copy your research records for quality assurance and data
                    analysis include groups such as the study investigator and his/her research associates, the
                    University of Notre Dame Institutional Review Board or its designees, DOD for quality assurance
                    and data analysis, and (as allowed by law) state or federal agencies, especially the Office for
                    Human Research Protections (OHRP), who may need to access the research records.

                </h4>
                <br>

                <h3><u>What Are The Potential Benefits Of Taking Part In The Study?</u></h3>

                <h4>
                    We don’t expect you to receive any benefit from taking part in this study, but we hope to
                    learn things that will help scientists in the future.
                </h4>
                <br>

                <h3><u>Will You Share My Information With Other People?</u></h3>

                <h4>
                    All information collected from this study is stored in a secure password-protected database. We do
                    not store any personal information on you in this database such as name, email, or any information
                    to uniquely identify you.
                    We do not collect any information on you as an individual for this study, just what you annotate.
                    The information we do collect for this study will be stored and used indefinitely by researchers
                    around the world.

                </h4>
                <br>

                <h3><u>Will I be Paid?</u></h3>

                <h4>
                    You will be paid $4.00 for completion of this task.
                    MTurk does not allow for prorated compensation. In the event of an incomplete HIT,
                    you will not receive any compensation.

                    This study contains a number of checks to make sure that participants are finishing the tasks
                    honestly and completely. As long as you read the instructions and complete the tasks, your HIT
                    will be approved. If you fail these checks, your HIT will be rejected and you will not
                    receive any compensation.

                </h4>
                <br>

                <h3><u>Who Should I Contact With Questions Or Problems?</u></h3>

                <h4>
                    For questions about the study, contact the researcher, Nicholas Botzer (email: <a href="mailto:nbotzer@nd.edu">nbotzer@nd.edu</a>)

                    For questions about your rights as a research participant, to discuss problems, complaints, or concerns about a
                    research study, please contact Notre Dame Research Compliance at 574-631-1461 or at <a href="mailto:compliance@nd.edu">compliance@nd.edu</a>.
                </h4>
                <br>

                <h3><u>Participant's Consent</u></h3>

                <h4>
                    In consideration of all of the above, I give my consent to participate in this research study.
                    By proceeding, I confirm that I am 18 years old, and agree to take part in this study.
                </h4>

                <br>
                <div>
                    <!-- <label style="font-size: xx-large"><input type="checkbox" onclick="update_consent()" id="agree" value="" {{ 'checked=checked' if session['Consent'] else '' }} > I agree to participate in this research.</label>      </div> -->






            </div>
        </div>
    </div>

<ul class="list-group">
    <a id="next" href="{{ url_for('ask') }}" class="list-group-item list-group-item-action text-right" style="font-size: xx-large"> --> I agree to participate in this research <span class="fa fa-arrow-right"></span></a>
    <a id="prev" href="{{ url_for('home') }}" class="list-group-item list-group-item-action text-left" style="font-size: xx-large"><span class="fa fa-arrow-left"></span> <-- Introduction</a>
</ul>
{% endblock %}