<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}
{% block content %}

<div class="container-lg">
    <div class="row-cols-1">
        <div class="col-sm-12">
            <br>
            <div class="alert alert-primary" role="alert">
                Thank you for helping us with our study. Below is your generated code for completing the task.
                We will verify that you have successfully completed the task and approve your payment shortly.
            </div>
            <br>
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title">Code</h2>
                    <hr>
                    <h4 class="card-text">{{ session["result_code"] }}</h4>
                </div>
            </div>
            <br>


        </div>
    </div>
</div>


{% endblock content %}
</html>

