<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2><strong>How much do you trust ChatGPT?</strong></h2>
            <br>
            <p><u>Description</u></p>
            <p>In this task, your job is to ask any question to ChatGPT and then judge how much you trust the response. 
                This task consists of two parts: (1) You enter a question. (2) You provide a trust-score (0-10) about the response. 
		By participating, you will be helping research into AI systems.

            </p>
            <br>
            <p><u>Length</u></p>
            <p>There are 10 questions, each question will take around 20 to 30 seconds to complete.
            </p>
            <br>
            <p><u>Completion</u></p>
            <p>At the end of this task, a unique code will be provided. This survey code should be submitted to final page which provided the link to this task.
            </p>
            <br>
            <p><u>Approval Criteria</u></p>
	    <p>You may complete this task multiple times. However, repeated, inappropriate, or apathetic questions will result in a task failure. <b>Have fun with it.</b>
            </p>
        </div>
    </div>
</div>

<br>
<ul class="list-group">
    <a id="next" href="{{ url_for('instruction') }}" class="list-group-item list-group-item-action text-middle" style="font-size: large"> ---> Instruction <span class="fa fa-arrow-right"></span></a>
</ul>

{% endblock %}
