<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}

<p> Here is a short clip showing an example HIT.</p>

<p>The first step is to ask a question (any question) to ChatGPT (example: How far is it from moon to earth?)
After clicking Submit, you will see a response from ChatGPT. Then, you are asked to provide a trust score to the generated answer.</p>


<img style="border: black; border-style: solid;" src="static/instruction.gif" width="100%"/>

<br>
<br>
<ul class="list-group">
    <a id="next" href="{{ url_for('consent') }}" class="list-group-item list-group-item-action text-right" style="font-size: large"> --> Consent <span class="fa fa-arrow-right"></span></a>
    <a id="prev" href="{{ url_for('home') }}" class="list-group-item list-group-item-action text-left" style="font-size: large"><span class="fa fa-arrow-left"></span> <-- Introduction</a>
</ul>
{% endblock %}
